.slide-title {
  font-weight: 700;
  font-size: 50px;
  line-height: 100%;
}

.slide-description {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

.slide-caption {
  left: 20px !important;
  right: 0 !important;
  text-align: left !important;
  bottom: 0 !important;
}

.carousel.slide,
.carousel-inner,
.carousel-item,
.carousel.slide .carousel-inner .carousel-item img {
  height: 100%;
  border-radius: 32px 0px 0px 32px;
}

.carousel.slide .carousel-inner .carousel-item img {
  height: 100%;
  object-fit: cover;
  object-position: right;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(23, 29, 37, 0) 0%, #171D25 83.85%);
}
.form-space {
height: 95vh;
}


@media screen and (max-width:991px) {
  .auth-section-2 {
    padding: 70px !important;
  }

 


  .auth-section-2 {
    padding: 50px !important;
    height: 100vh !important;
  }

  .auth-section-2 {
    padding: 100px;
  }
}

@media screen and (max-width:768px) {
  .auth-section-1 {
    padding: 0 100px;
  }
}

@media screen and (max-width:700px) {
  .auth-section-1 {

    padding: 0 80px;
  }
}

@media screen and (max-width:576px) {
  .auth-section-1 {
    padding: 0 50px;
  }

  .auth-section-1 .form-space {
    padding: 5px 40px !important;
  }
}

@media screen and (max-width:400px) {
  .auth-section-1 {
    padding: 0 20px;
  }

}





/* .auth-section-2 {
  background: linear-gradient(90deg, #ff9f43 1.2%, #000000 180%);
height:100vh;
  background-image: ur;
  padding: 100px;
} */
.auth-section-2 {
  background: #e30613;
  height: 100vh;
  background-image: ur;
  padding: 100px;
}

.gradient-btn-orange {
  border-color: #e30613;
  background-color: #e30613;
  border-radius: 0;
  font-weight: 700;
  color: #000000;
  padding: 13px 46px 12px;
  font-size: 16px;
  letter-spacing: 0;


}
.img-auth{
  transition: transform 0.3s ease;
  overflow-x: hidden;
  &:hover{
    transform: scale(1.2);
  }
}