.forget {
  color: #DF525B !important;
  font-weight: 700 !important;
  font-size: 14px !important;
  line-height: 100% !important;
  text-align: end !important;
  cursor: pointer !important;
  width: 100% !important;
}

.register-form-space input {
  visibility: hidden !important;
}

.bg-grey {
  background-color: #f1f6f7 !important;
}

.text-grey {
  color: #7d8695 !important;
}

.line-1 {
  line-height: 1 !important;
}

.button .selected {
  background-color: var(--primary) !important;
  color: white !important;
  font-weight: 600 !important;
}

.button .selected .icon svg path {
  fill: white !important;
}

.w-max-content {
  width: max-content !important;
}

.service-provide-register .modal-tabs .radio {
  width: 112px !important;
  height: 96px !important;
}

.service-provide-register .button label {
  width: 112px !important;
  height: 96px !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
  gap: 8px !important;
}

.service-provide-register .button input[type="radio"]:checked+label svg path {
  fill: white !important;
}

.button input[type="radio"] {
  opacity: 0.011 !important;
  z-index: 100 !important;
}

.button input[type="radio"]:checked+label {
  background: #0d6efd !important;
  color: white !important;
  gap: 8px !important;
}

.companyform .button label {
  width: 112px !important;
  height: 96px !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
  gap: 8px !important;
}

.companyform .button input[type="radio"]:checked+label svg path {
  fill: white !important;
}

.button label {
  background: #f1f6f7 !important;
  padding: 6px 16px !important;
  border-radius: 6px !important;
  cursor: pointer !important;
  z-index: 90 !important;
  line-height: 100% !important;
  color: var(--grey) !important;
}

.react-tel-input .flag-dropdown {
  left: 40px !important;
}

.active {
  color: #f1f6f7 !important;
}

.selected {
  background-color: #0d6efd !important;
  cursor: pointer;
}

.selected span,
.selected p {
  color: #f1f6f7;
}

.selection {
  cursor: pointer;
}

.or {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8F8F8F;
  margin: 30px 0 !important;
}

.or:after {
  content: "";
  display: block;
  background: #D6D6D6;
  width: 45%;
  height: 2px;
  margin: 10px 0 10px 10px;
}

.or:before {
  content: "";
  display: block;
  background: #D6D6D6;
  width: 45%;
  height: 2px;
  margin: 10px 10px 10px 0px;
}
.radio-style{
    background-color:transparent;
    color: black;
    padding: 10px;
    border-radius: 6px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
/* register-radios.css */

.radio-active {
  background: linear-gradient(90deg, #FB7C5F 1.2%, #DF525B 100%);
  border-radius: 6px;
  color: white;
  width: 100%;
}

.radio-container {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6px;
  padding-bottom: 6px;
  width: 100%;
}
.modal-tabs {
  display: flex;
}
.radio-inactive {
  background: transparent;
  color: black;
}

.svg-inactive {
  fill: black;
}

.radio-active path{
  color: #f1f6f7;
  fill: white !important;
}

.custom-link{
  color: #DF525B;
}
.custom-link:hover{
  color: #DF525B;
}
@media screen and (max-width: 991px) {
  .radio-container {
    background-color: #F1F6F7;;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
}
.flex-height{
  flex: 1;
}

.radio-container {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6px;
  padding-bottom: 6px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .radio-container {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .radio-container {
    width: 33.33%;
  }
}
